//
// @file     1_base/_general.scss
// @parent   1_base/_all.scss
//
// @desc     Defines site base, stuff like body, links
//           headings, paragraphs, etc
// @usage
//
//

@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


body {
  color: white;
  font-family: $fonts-main;
  width: 100wh;
	height: 100vh;

  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	//-webkit-animation: gradient 300s ease infinite;
	//-moz-animation: gradient 300s ease infinite;
	//animation: gradient 300s ease infinite;
}

h1, h2, h3, h4, h5 {
  color: $white;
}

h1 {
  font-size: $h1-size;
}
h2 {
  font-size: $h2-size;
}
h3 {
  font-size: $h3-size;
  font-weight: 300;
}
h4 {
  font-size: $h4-size;
}

button {
  transition: .2s all linear;
  font-family: $fonts-main;
  color: $white;
  background: transparent;
  border: 2px solid $white;
  padding: 1em 2em;
  cursor: pointer;
}

button:hover {
  background: $white;
  color: $black;
}
