//
// @file     1_base/_mixins.scss
// @parent   1_base/_all.scss
//
// @desc     File Containing all Mixins
// @usage
//
//

// Transition
@mixin transition($duration: 0.2s) {
  transition: all $duration ease-out;
  transform-style: preserve-3d;
}

// Output rem with a px fallback
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
