//
// @file     3_modules/_comic-results.scss
// @parent   3_modules/_all.scss
//
// @desc     Assigning animations to results
// @usage
//
//

@keyframes bumpIn {
  0%   { transform: translateY(5%); opacity: 0; }
  50%  { transform: translateY(-1%); opacity: 0.50;}
  100% { transform: translateY(0%); opacity: 1; }
}

.results {
  animation: bumpIn 0.6s ease-out;
}
