//
// @file     3_modules/_datepicker.scss
// @parent   3_modules/_all.scss
//
// @desc     Date Picker Styling
// @usage
//
//

.react-datepicker-wrapper {

  margin: 2em 0;

  input {
    @include font-size(20px);
    background: transparent;
    color: $white;

    border: none;
    border-bottom: 2px solid $white;
    outline: none;

    padding: .5em 0;
    text-align: center;
  }

}
