//
// @file     2_layout/_all.scss
// @parent   style.scss
//
// @desc     Imports Layout Styles
// @usage
//
//


.App, #root {
  height: 100%;
}


.App-header,
.interactive-area {
  text-align: center;
  width: 100%;
  height: auto;
}

.interactive-area .column {
  display: flex;
  justify-content: center;
  align-items: center;
}
